body {
    background-color:hsl(211, 44%, 89%);
    /* margin: 100px auto 100px auto; */
    margin: 0 auto;
}
main {
    background-color:hsl(211, 44%, 89%);
}
/* div {
    border: 1px solid black;
} */
/* Primary
Moderate blue: hsl(238, 40%, 52%)
Soft Red: hsl(358, 79%, 66%)
Light grayish blue: hsl(239, 57%, 85%)
Pale red: hsl(357, 100%, 86%)
Neutral
Dark blue: hsl(212, 24%, 26%)
Grayish Blue: hsl(211, 10%, 45%)
Light gray: hsl(223, 19%, 93%)
Very light gray: hsl(228, 33%, 97%)
White: hsl(0, 0%, 100%) */

.post-container {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 13% 47% 20% 20%;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    max-height: 250px;
}
.user-info {
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    grid-column: 2/4;
    /* margin: 0px 0px 0px 0px; */
    max-height: 50px;
    /* padding: 10px; */
}
.user-name {
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px auto 5px auto;
    margin: auto 5px auto 1px;
    min-width: 140px;
}
.post-date {
    color:hsl(240, 1%, 42%);
    padding: 5px auto 5px auto;
    margin: auto 1px;
    min-width: 100px;
}

.vote-btn {
    text-align: center;
    background-color:hsl(240, 47%, 90%);
    /* font-size: 18px; */
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0px 10px 50px 10px;
    /* margin-top:10px;
    margin-bottom: 50px; */
    justify-items: center;
    max-width: 50px;
    min-width: 40px;
    padding:5px;
    border: none;
    border-radius: 10px;

}
.upvote-btn {
    /* background-color:hsl(240, 47%, 90%); */
    border:none;
    color:grey;
    text-align: center;
    font-size: 26px;
    /* margin: 5px auto 5px auto; */
    margin:auto;
    max-width: fit-content;

}
.downvote-btn {
    /* background-color:; */
    border:none;
    color:grey;
    font-size: 26px;
    margin: auto;
    max-width: fit-content;

}
.vote-counter {
    /* background-color:hsl(240, 47%, 90%); */
    border:none;
    color:hsl(238, 40%, 52%);
    font-size: 22px;
    font-weight: bold;
    /* margin: 30px 10px 10px 10px; */
    margin: 15px auto;
    max-width: fit-content;
}
.reply-btn {
    background-color: hsl(0, 0%, 100%);
    border:none;
    color:hsl(238, 40%, 52%);
    font-size: 20px;
    font-weight: bold;
    grid-column: 4/5;
    align-self: start;
    /* text-align: center; */
    vertical-align: middle;
    /* line-height: 0px; */
    margin: 10px 0px 0px 15px;
    /* padding-bottom: 10px; */
    display: inline-flex;
    align-items: center; 
}

.comment-body {
    padding: 10px;
    border: 1px solid black;
    grid-row:2/3;
    grid-column: 2/5;
    /* margin: 5px; */
}
span {
    /* text-align: center; */
    margin:auto 5px auto 20px;
    display: inline-flex;
    align-items: center; 
}

img {
    margin: 1px;
    /* width: ; */
}
