body {
    background-color:hsl(211, 44%, 89%);
    /* margin: 0 auto; */
}
main {
    background-color:hsl(211, 44%, 89%);
    display: grid;
    grid-template-columns: 1fr .50fr 3fr 1fr;
    gap:15px;
}
/* Primary
Moderate blue: hsl(238, 40%, 52%)
Soft Red: hsl(358, 79%, 66%)
Light grayish blue: hsl(239, 57%, 85%)
Pale red: hsl(357, 100%, 86%)
Neutral
Dark blue: hsl(212, 24%, 26%)
Grayish Blue: hsl(211, 10%, 45%)
Light gray: hsl(223, 19%, 93%)
Very light gray: hsl(228, 33%, 97%)
White: hsl(0, 0%, 100%) */

/* .reply-wrapper {
    border-left: 1px solid black;
    margin: 10px 50px 10px 50px;
} */

.post-container-reply {
    grid-column: 3/4 !important;
}
.post-container {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-column: 2/4;
    grid-template-columns: 13% 47% 20% 20%;
    grid-template-rows: 1fr 1fr;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
}
.user-info {
    display: flex;
    text-align: left;
    grid-column: 2/4;
    max-height: 40px;
}
.user-name {
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px auto 5px auto;
    margin: auto 0px auto 10px;
    min-width: 100px;
}
.post-date {
    color:hsl(240, 1%, 42%);
    padding: 5px auto 5px auto;
    margin: auto 0px auto 10px;
    min-width: 100px;
}
.vote-btn {
    text-align: center;
    background-color:hsl(211, 44%, 89%);
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0px 10px 50px 10px;
    justify-items: center;
    max-width: 50px;
    min-width: 40px;
    padding:5px;
    border: none;
    border-radius: 10px;
}
.upvote-btn {
    border:none;
    color:grey;
    text-align: center;
    font-size: 26px;
    margin:auto;
    max-width: fit-content;
}
.upvote-btn:hover {
    cursor:grab;
}
.upvote-btn:active {
    color:hsl(238, 40%, 52%);
    font-weight: bold;
}
.downvote-btn {
    /* background-color:; */
    border:none;
    color:grey;
    font-size: 26px;
    margin: auto;
    max-width: fit-content;
}
.downvote-btn:hover {
    cursor:grab;
}
.downvote-btn:active {
    color:hsl(238, 40%, 52%);
    font-weight: bold;
}
.vote-counter {
    /* background-color:hsl(240, 47%, 90%); */
    border:none;
    color:hsl(238, 40%, 52%);
    font-size: 22px;
    font-weight: bold;
    /* margin: 30px 10px 10px 10px; */
    margin: 15px auto;
    max-width: fit-content;
}
.reply-btn {
    background-color: hsl(0, 0%, 100%);
    border:none;
    color:hsl(238, 40%, 52%);
    font-size: 20px;
    font-weight: bold;
    grid-column: 4/5;
    align-self: start;
    margin: 5px 0px 0px 0px;
    padding: 2px;
    display: inline-flex;
    align-items: center;
}
.reply-btn:hover {
    cursor: grab;
}
.reply-btn:active {
    color:hsl(211, 44%, 89%);
}
.comment-body {
    color: rgb(95, 93, 93);
    padding: 10px 10px 10px 10px;
    /* border: 1px solid black; */
    grid-row:2/3;
    grid-column: 2/5;
    margin-top: -25px;
    margin: -25px 30px 20px 0px;
}
span {
    margin: auto 5px auto 20px;
    display: inline-flex;
    align-items: center; 
}

/* NEW POST */
.new-post-container {
    display:flex !important;
    padding:20px;
    min-height: 150px;
}
.add-comment-body {
    border: 1px solid black;
    color: rgb(95, 93, 93);
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin: 15px 5px 30px 15px;
    width: 500px;
}
.send-btn {
    background-color: hsl(238, 40%, 52%);
    border:none;
    border-radius: 5px;
    color:hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: bold;
    margin: 15px 5px 0px 10px;
    padding: 10px 5px;
    align-self: start;
    min-width: 80px;
}

/* IMAGES */
img {
    margin: 5px 1px 0px 10px;
    width: 10%;
    height: auto;
}
.image-send {
    margin: 15px 5px 20px 5px;
    width: 10%;
    height: 30%;
}
